@charset "utf-8";

body {
margin: 0;
font-family: "Hiragino Kaku Gothic ProN";
    background-color: black;
   
}

body h1 {
    font-size: 610%;
}
body p {
    font-size: 220%;
}

a {
    text-decoration: none;
}

.container {
width: 1500px;
padding: 0 15px;
margin: 0 auto;
   
}


header {
    height: 100px;
    width: 1900px;
    background-color: aliceblue;
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    padding-top: 15px;
    height: 60px;
    float: left;
   
}

,h-icon {
    float: left;
}

.top {
padding: 150px 0 100px 0;
background-image: url(image.png);
color: white;
background-size: cover;
    text-align: center;
    text-shadow: 3px 0 0 black;
}

.top h1 {
text-shadow: 6px 0 0 black;
    letter-spacing: 12px;
}

.top p {
    text-shadow: 4px 0 0 black;
}

.btn {
    padding: 8px 24px 8px 24px;
    color: white;
    display: inline-block
}

.map {
    background-color: #239b76;
    font-size: 130%;
}

.show {
    background-color: #3b5998;
    margin-right: 10px
　　　font-size: 130%;
}

.food {
    background-color: #55acee;
     font-size: 130%;
}

.btn-top {
    margin: 20px 0;
    font-size: 25px;
}

.btn {
     border-radius: 10px;
}

.btn-top p {
    margin: 25px 0;
    opacity: 0.73;
    
}

.btn:hover {
    opacity: 0.6;
}



    

.map2 {
    height: 1020px;
    padding-bottom: 30px;
    color: #f7f7f7;
    
   
    text-align: center;
}

.heading {
   
    color: black
}

.heading h2 {
    color: aliceblue;
    font-size: 50px;
    opacity: 0.8;
}

.heading h3 {
    font-size: 40px;
     opacity: 0.9;
    background-color: cornflowerblue;
}



.map4 {
    float: left;
    width: 33%;
   
}

.adc {
     border-radius: 24px;
}

}

.map4 p {
    color: black;
    font-size: 40px;
}

.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    font-size: 28px;
    color: darkcyan;
}


.adc:hover {
    opacity: 0.6;
}

.map5 {
    text-align: center;
}
.map5 a{
    display: inline-block;
    vertical-align: top;
}

.map5 p {
     display: inline-block;
    vertical-align: top;
    color: aliceblue
         width: 80%;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
   
    color: darkcyan;
}

.mapmap {
     text-align: center;
}

footer img {
    padding-top: 15px;
    height: 60px;
  
}

footer {
    height: 100px;
    padding-top: px;
    background-color: azure;
    opacity: 0.6;
}

.map6 img {
    width: 500px;
padding-top: 30px;
}


#appo {
    background-color: aliceblue;
}
